<div class="container">
  <div class="row">
    <div class="col-8 offset-2">
      <div class="card mt-4">
        <div class="card-body">
          <h2 class="card-title">Post</h2>
          <h4>{{post.title}}</h4>
          <img src="{{post.imgUrl}}" alt="Travel Pic">
			<p>
            <strong>Name</strong>: {{post.name}}</p>
          <p>
            <strong>Description:</strong> {{post.description}}</p>
            <a href="/">← Back To Home</a>
        </div>
      </div>
    </div>
  </div>
</div>
